
$transitionSmooth: 0.5s;
$transitionFast: .4s;

// colors
$trueWhite: #FFF;
$ghostWhite: #F8F8FF;
$lightGrey: #9E9E9E;
$matteGreen: #4DADB4;
$darkOrange: #E66549;

// for smaller screens
$medium-screen: (max-width: 768px);
$small-screen: (max-width : 568px);
