@import "../../../../global-styles/variables";

.form-button {
  background-color: $matteGreen;
  padding: 15px;
  width: 150px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: $transitionSmooth;

  &:hover {
    border: 2px solid $matteGreen;
    background: $trueWhite;
    transition: $transitionSmooth;
    cursor: pointer;
  }
}