.form-button {
  background-color: #4DADB4;
  padding: 15px;
  width: 150px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.5s; }
  .form-button:hover {
    border: 2px solid #4DADB4;
    background: #FFF;
    transition: 0.5s;
    cursor: pointer; }
