.App {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Muli;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
