.list-item {
  list-style: none;
  padding: 10px; }

.list-link {
  color: #333;
  margin-right: 10px; }

.list-button {
  background-color: #E66549;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: 0.5s; }
  .list-button:hover {
    border: 2px solid #E66549;
    background: #FFF;
    transition: 0.5s;
    cursor: pointer; }
