@import "../../../../global-styles/_variables";

.list-item {
  list-style: none;
  padding: 10px;
}

.list-link {
  color: #333;
  margin-right: 10px;
}

.list-button {
  background-color: $darkOrange;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid transparent;
  transition: $transitionSmooth;

  &:hover {
    border: 2px solid $darkOrange;
    background: $trueWhite;
    transition: $transitionSmooth;
    cursor: pointer;
  }
}