@import "../../../../global-styles/_variables";

.list-item {
  list-style: none;
  padding: 10px;
}

.list-link {
  color: #333;
  margin-right: 10px;
}

.list-button {
  background-color: $darkOrange;
  padding: 10px;
  border-radius: 8px;
}